.landing {
  width: 100%;
  height: 100%;
  background-image: url('https://image.shutterstock.com/z/stock-vector-vector-map-template-illustration-simple-flat-city-map-351005876.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landingLogo {
  margin: 0 auto;
}