[Service]
ExecStart=/usr/bin/node /var/www/foodtrac/server/index.js
WorkingDirectory=/var/www/foodtrac
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=foodtrac
User=foodtrac
Group=foodtrac
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target