---
- name: Setup Foodtrac system dependencies
  include: system.yml

- name: checkout foodtrac code
  register: git_finished
  git:
    repo: 'https://github.com/hrla14-foodtrac/foodtrac.git'
    dest: /var/www/foodtrac

- name: install npm deps
  shell: npm install
  register: npm_finished
  failed_when: '"ERR!" in npm_finished.stderr'
  when: git_finished.changed
  args:
    chdir: /var/www/foodtrac

- name: install foodtrac environment files
  notify:
  - restart foodtrac
  copy:
    src: "{{ item }}"
    dest: /var/www/foodtrac/{{ item }}
    owner: foodtrac
    group: foodtrac
  with_items:
    - .env
    - googleCloudKey.json

- name: install foodtrac systemd unit
  copy:
    src: foodtrac.service
    dest: /etc/systemd/system/foodtrac.service
    owner: root
    group: root
    mode: 0444

- name: start foodtrac systemd service
  systemd:
    state: started
    name: foodtrac
    daemon_reload: yes

- name: Foodtrac Nginx setup
  include: nginx.yml
