---
- name: Setup Foodtrac system dependencies
  include: system.yml

- name: deploy code from active branch of local git repo
  tags: deploy
  include: gitpush.yml

- name: install npm deps
  tags: deploy
  shell: npm install
  register: npm_finished
  failed_when: '"ERR!" in npm_finished.stderr'
  when: git_push.changed
  args:
    chdir: /var/www/{{ domain_name }}

- name: install foodtrac environment files
  notify:
  - restart foodtrac
  copy:
    src: "{{ item }}"
    dest: /var/www/{{ domain_name }}/{{ item }}
    owner: foodtrac
    group: foodtrac
  with_items:
    - .env
    - googleCloudKey.json

- name: install foodtrac systemd unit
  template:
    src: foodtrac.service.jinja2
    dest: /etc/systemd/system/foodtrac.service
    owner: root
    group: root
    mode: 0444

- name: start foodtrac systemd service
  systemd:
    state: started
    name: foodtrac
    daemon_reload: yes

#todo: fallback to self-signed cert when letsencrypt fails (needed for development without access to domain)
- name: Foodtrac Letsencrypt setup
  include: letsencrypt.yml

- name: Foodtrac Nginx setup
  include: nginx.yml
