---
- name: Setup Foodtrac system dependencies
  include: system.yml

- name: checkout foodtrac code
  register: git_finished
  git:
    repo: 'https://github.com/hrla14-foodtrac/foodtrac.git'
    dest: /var/www/foodtrac

- name: install npm deps
  shell: npm install
  register: npm_finished
  failed_when: '"ERR!" in npm_finished.stderr'
  when: git_finished.changed
  args:
    chdir: /var/www/foodtrac

- name: install foodtrac environment variables
  tags: current
  copy:
    src: .env
    dest: /var/www/foodtrac/.env
    owner: foodtrac
    group: foodtrac

- name: install foodtrac systemd unit
  tags: current
  copy:
    src: foodtrac.service
    dest: /etc/systemd/system/foodtrac.service
    owner: root
    group: root
    mode: 0644

- name: start foodtrac systemd service
  tags: current
  systemd:
    state: started
    name: foodtrac
    daemon_reload: yes

- name: Foodtrac Nginx setup
  include: nginx.yml
