---
- name: Install NodeJS 8.x repo via Nodesource setup script (will always run)
  script: setup_8.x.sh

- name: Install packages
  apt: name={{item}} state=installed
  with_items:
    - nodejs
    - build-essential
    - authbind

