.emblem {
  height: 70px;
  width: 250px;
}

.emblemLeft {
  float: left;
  padding: 10px;
}

.emblemRight {
text-align: center;
}

$a-tags: 'a, a:active, a:hover, a:visited';

.truckOwnerByline {
  font-size: 0.8em;
  #{$a-tags} {
    color: purple;
  }
}