$a-tags: 'a, a:active, a:hover, a:visited';

.NavBar {
  background-color: #2196F3;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  font-size: 32px;
  color: white;
}

.centered-span-container {
  text-align: center;
}

.center-span {
  line-height: 60px;
  vertical-align: middle;
}

.location-search-btn {
  margin-right: 5px;
}

.login {
  float: right;
}

.relative {
  display: flex;
  justify-content: center;
  align-items: center;
}