$a-tags: 'a, a:active, a:hover, a:visited';

.NavBar {
  background-color: #2196F3;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  font-size: 32px;
  color: white;
}

.site-header:visited {
  color: white;
}

.site-header:hover {
  color: #c3c3c3;
}

.centered-span-container {
  text-align: center;
  height: 100%;
}

.nav-btn {
  height: 100% !important;
}

.center-span {
  line-height: 60px;
  vertical-align: middle;
}

.location-search-btn {
  margin-right: 5px;
}

.login {
  float: right;
}

.relative {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPopover{
  padding: 30px;
  //background-color:rgba(33, 150, 243, 0.75);
  font-size: small;
}

.loginFields {
  width: 125px;
}
