$a-tags: 'a, a:active, a:hover, a:visited';
.emblem .truckOwnerByline {
  #{$a-tags} {
    color: purple;
  }
}

.NavBar {
  margin: -10 -10 0 -10;
  background-color: #2196F3;
  padding: 10px;
}

.SiteHeader {
  font-size: 32px;
}

.SiteHeader #{$a-tags} {
  color: white;
}

.MenuDrawer {
  padding: 10px
}

.navBarRight a {
  float: right;
}

.searchBar {
  float: left;
  margin-right: 90px;
  margin-top: 13px;
}

.login {
  float: right;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.searchBar ul {
  position: absolute;
  background-color: white;
}

.searchBar li {
  cursor: pointer;
  list-style-type: none;
}
