
.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchBar > div {
  display: inline-block;
}

.addressEntry {
  order: 1;
  flex-grow: 2;
}

.location-search-btn {
  order: 2;
}

.dist-drop-down {
  order: 3;
}

.genre-drop-down {
  order: 4;
}

.searchBar ul {
  position: absolute;
  background-color: white;
}

.searchBar li {
  cursor: pointer;
  list-style-type: none;
}

@media (min-width: 900px) {
  .addressEntry {
    flex-grow: 2;
  }
  .addressEntry,
  .location-search-btn,
  .dist-drop-down,
  .genre-drop-down {
    order: initial;
  }
}