body {
  background-color: gray;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app-content {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .app-content {
    width: 80%;
  }
}

#dashboard {
  
}

a {
  text-decoration: none;
}

.noItems {
  text-align: center;
}

.truckEntry {
  min-height: 150px;
}

.center-text {
  margin: 10px 32px;
  text-align: center;
  padding: 10px 0px;
}

.card-header:hover {
  background-color: whitesmoke;
}

a {
  color: darkslateblue;
}

a:visited {
  color: grey;
}

a:hover{
  color: lightskyblue;
}

.card-text {
  padding: 0 16px 10px 16px !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.70) !important;
  font-weight: bold;
}