.truckEntry {
  min-height: 150px;
  margin-top: 10px;
}

.truck-entry-body {
  display: inline-block;
}

.map-upvote {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-75%);
}